/*
 * D:/Development/TIP/tip/image-search/src/main/resources/module-resources/style/tip/PacsSeriesFinder.css
 * TIP is developed by the Neuroinformatics Research Group
 * XNAT http://www.xnat.org
 * Copyright (c) 2013, Washington University School of Medicine
 * All Rights Reserved
 *
 * Released under the Simplified BSD.
 *
 * Last modified 9/24/13 6:11 PM
 */

@CHARSET "ISO-8859-1";

table.pacsSeriesSearchResults {
    width: 100%;
}

table.pacsSeriesSearchResults tr.odd, table.pacsSeriesSearchResults tr.even {
    background-color: papayawhip;
}

table.pacsSeriesSearchResults thead th {
    border-bottom: none;
    text-align: left;
    font-weight: normal;
    font-style: italic;
}
