##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("Login.vm")
#set ($siteId = $siteConfig.getProperty("siteId",""))
$page.setTitle("$siteId - Register")


<div id="login_area">
    #if($siteConfig.getProperty("siteWideAlertStatus","")!="0")
        <div class="$siteConfig.getProperty("siteWideAlertType","")" style="margin-bottom: 2em;"><strong>$siteConfig.getProperty("siteWideAlertMessage","")</strong></div>
    #end

    <div id="login_welcome">
        <p><img src="/images/tip/tip_logo_lg.png" width="450" height="130"></p>
        #parse($siteConfig.getProperty("siteDescriptionPage","/screens/site_description.vm"))
    </div>

    <div id="register_box_container">
        <h3>New User Registration</h3>

        #if($data.getMessage())
            <div class="warning" style="border-bottom: 0">
                <p><strong>Note: </strong><br />$data.getMessage()</p>
            </div>
        #end
        <div id="register_box">
            #parse("/screens/register_box.vm")
        </div>
    </div>

</div>
